
<path d="M0 0h24v24H0z" fill="none"></path>
<defs>
<mask id="{{LOGO_MASK_ID}}">
<path d="M8 -8c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4M12 -8c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4M16 -8c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
<animate attributename="d" dur="3s" repeatcount="indefinite" values="M8 0c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4M12 0c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4M16 0c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4;M8 -8c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4M12 -8c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4M16 -8c0 2 -2 2 -2 4s2 2 2 4s-2 2 -2 4s2 2 2 4"></animate>
</path>
<path d="M4 7h16v0h-16v12h16v-32h-16Z">
<animate attributename="d" begin="1s" dur="0.6s" fill="freeze" to="M4 2h16v5h-16v12h16v-24h-16Z"></animate>
</path>
</mask>
</defs>
<path d="M17 14v4c0 1.66 -1.34 3 -3 3h-6c-1.66 0 -3 -1.34 -3 -3v-4Z" fill="currentColor" fill-opacity="0">
<animate attributename="fill-opacity" begin="1.6s" dur="0.15s" fill="freeze" to=".3"></animate>
</path>
<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
<path d="M17 9v9c0 1.66 -1.34 3 -3 3h-6c-1.66 0 -3 -1.34 -3 -3v-9Z" stroke-dasharray="48">
<animate attributename="stroke-dashoffset" dur="0.6s" fill="freeze" values="48;0"></animate>
</path>
<path d="M17 9h3c0.55 0 1 0.45 1 1v3c0 0.55 -0.45 1 -1 1h-3" stroke-dasharray="16" stroke-dashoffset="16">
<animate attributename="stroke-dashoffset" begin="0.6s" dur="0.3s" fill="freeze" to="0"></animate>
</path>
</g>
<path d="M0 0h24v24H0z" fill="currentColor" mask="url(#{{LOGO_MASK_ID}})"></path>
